<header>
    <nav>
        <a href="/">Project Manager</a>
        <ul>
            <li><a href="/tasks">Tasks</a></li>
            <li><a href="/tasks/new">New Task</a></li>
        </ul>
    </nav>
</header>